<div class="container-fluid">
  <div class="row justify-content-evenly justify-content-lg-start">
    <div class="col-auto mb-4" *ngFor="let item of data | sortByOrder">
      <div class="tiles text-center p-2">
        <a [routerLink]="item.link" [routerLinkActiveOptions]="item.option" routerLinkActive="active" (click)="dismissSheet($event)">
          <img
            [src]="item.image"
            height="24"
            [alt]="item.text"
          />
          <div>{{item.text}}</div>
        </a>
      </div>
    </div>
  </div>
</div>