<mat-drawer-container class="theme-wrapper" autosize>
    <mat-drawer
      #drawer
      [mode]="dynamicMode"
      [opened]="isDrawerOpen"
      class="border-0"
    >
      <div class="my-3 p-3 rounded-end bg-theme-dark sidebar">
        <img
          src="https://ncdn.kheloyaar.club/assets/images/newUiAssets/logos/logo-col.svg"
          width="100"
          alt="Logo"
        />
      </div>
    </mat-drawer>
  
    <div class="p-3 h-100">
      <header class="rounded-3 bg-theme-dark p-3">
        <div class="d-flex align-items-center justify-content-between">
            <ul class="list-inline mb-0 top-nav d-none d-lg-block">
              <li class="list-inline-item text-center">
                <a [routerLink]="initialRoute" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
                  <img
                    src="assets/images/newUiAssets/icons/exchange.svg"
                    height="24"
                    alt="Dashboard"
                  />
                  <div>Kheloyar Exch</div>
                </a>
              </li>
              <li class="list-inline-item text-center">
                <a routerLink="client/in-play" routerLinkActive="active">
                  <img
                    src="assets/images/newUiAssets/icons/aviator.svg"
                    height="24"
                    alt="Dashboard"
                  />
                  <div>Aviator</div>
                </a>
              </li>
              <!-- <li class="list-inline-item text-center">
                <a routerLink="client/all-casino" routerLinkActive="active">
                  <img
                    src="assets/images/newUiAssets/icons/all-casino.svg"
                    height="24"
                    alt="Dashboard"
                  />
                  <div>All Casino</div>
                </a>
              </li> -->
            </ul>
            <mat-icon
              (click)="onOpenBottomMenu()"
              class="material-icons-outlined d-block d-lg-none text-white"
              >menu</mat-icon
            >
          <ul id="right-side-items" class="list-inline mb-0">
            <ng-container *ngIf="(userProfile$ | async) === null">
              <li class="list-inline-item">
                <div class="d-flex auth-btns-wrapper">
                  <div class="login-btn w-50" (click)="onLogin()">
                    <img src="https://ncdn.kheloyaar.club/assets/icons/login.svg" width="15" alt="login icon">
                    <small class="fw-bold d-block">Login</small>
                  </div>
                  <div class="signup-btn w-50">
                    <img src="https://ncdn.kheloyaar.club/assets/icons/signup.svg" width="15" alt="login icon">
                    <small class="fw-bold d-block">Signup</small>
                  </div>
                </div>
              </li>
            </ng-container>
            <ng-container *ngIf="(userProfile$ | async) as user">
             Hello {{user.userTitle}}!!
            </ng-container>
          </ul>
        </div>
      </header>
      <div class="content-area mt-3">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
  