$theme-bg-color:#000000;
$theme-white: #fff;
$theme-gray-color:#1a1a1a;
$theme-golden: #ffdf02;
$theme-golden-gradient-light: #f2d71a;
$theme-golden-gradient-dark: #ecb024;
$theme-modal-bg: #141414;
$theme-border: #343131;
$theme-input-bg: #404040;
$theme-input-focus-bg: #1F1D14;

$font-size-s: '14px';
$font-size-m: '16px';
$font-size-l: '18px';
$font-size-xl: '20px';
$font-family-poppins: "Poppins"